.employee-manager {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .employee-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .add-employee-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 10%;
  }
/* transition: background 0.3s ease; */

  
  .add-employee-button:hover {
    background: #218838;
  }
  